Sigamos trabajando con SQL desde nuestro jupyter! En este caso crearemos una BBDD
Objetivos
Durante la clase de pair programming de creaci칩n de tablas de SQL nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.
游늷 NOTA Utilizad el nombre de la BBDD de mi_primerita_BBDD_Python
游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. 
La funci칩n recibir치 como par치metros:
Contrase침a de la conexi칩n al servidor.
Query para crear la tabla.

In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python


A modo de recap de lo que conten칤a la BBDD:
Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:
idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.
Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Talla: es entero, no nula.

In [4]:
def creacion_tablas(sql, passw = 'AlumnaAdalab'):
    cnx = mysql.connector.connect(user='root', password=passw,
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(sql)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
zapatillas = """CREATE TABLE zapatillas (id_zapatillas INT NOT NULL AUTO_INCREMENT PRIMARY KEY, modelo_zapatilla VARCHAR(45) not null, 
color_zapatilla VARCHAR (45) not null, talla_zapatilla INT NOT NULL)"""
creacion_tablas(zapatillas)

CMySQLCursor: CREATE TABLE zapatillas (id_zapatillas I..

Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:
idCliente: es una clave primaria de tipo int, autoincremental y no nula.
Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.
Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.
Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Codigo_postal: entero de m치xima longitud 9, no nula.

In [7]:
clientes =  """CREATE TABLE clientes (idCliente INT NOT NULL AUTO_INCREMENT PRIMARY KEY, nombre_cliente VARCHAR(45) not null,
telefono_cliente VARCHAR(9) not null, email_cliente VARCHAR(45) not null, Direcci칩n_cliente VARCHAR(45) not null, Ciudad_cliente VARCHAR(45) not null,
Provincia_cliente VARCHAR(45) not null, Pais_cliente VARCHAR(45)  not null, CP_cliente INT(9) not null)"""
creacion_tablas(clientes)

CMySQLCursor: CREATE TABLE clientes (idCliente INT NOT..

Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:
idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
salario: es decimal, puede ser nula.
fecha_incorporacion: es una columna de tipo date, no nula.

In [8]:
empleados =  """CREATE TABLE empleados (idEmpleado INT NOT NULL AUTO_INCREMENT PRIMARY KEY, nombre_empleado VARCHAR(45) not null,
tienda VARCHAR(45) not null, salario_empleado float, fecha_incorporacion DATE NOT NULL)"""
creacion_tablas(empleados)

CMySQLCursor: CREATE TABLE empleados (idEmpleado INT N..

Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:
idFactura: es una clave primaria de tipo int, autoincremental y no nula.
idEmpleado: es una clave for치nea de tipo int, no nula.
idCliente: es una clave for치nea de tipo int, no nula.
idZapatilla: es una clave for치nea de tipo int, no nula
Fecha: es una columna de tipo date, no nula.
Total: es decimal, no nula.
游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
Foreign Key
References

In [11]:
facturas = """CREATE TABLE Facturas (idFacturas INT NOT NULL AUTO_INCREMENT PRIMARY KEY, idEmpleado INT NOT NULL,
idCliente INT NOT NULL, idZapatilla INT NOT NULL, Fecha DATE NOT NULL, Total float NOT NULL, CONSTRAINT fk_facturas_empleados FOREIGN KEY (idEmpleado) REFERENCES empleados(idEmpleado),
CONSTRAINT fk_facturas_cliente FOREIGN KEY (idCliente) REFERENCES clientes(idCliente), CONSTRAINT fk_facturas_zapatilla FOREIGN KEY (idZapatilla) REFERENCES zapatillas(id_zapatillas))"""
creacion_tablas(facturas)

CMySQLCursor: CREATE TABLE Facturas (idFacturas INT NO..